    <!-- Welcome Banner -->
    <div class="row custom-row">
        <div class="col-12">
            <div class="jumbotron text-center  bg-primary text-white p-5 rounded">
                <h1 class=" text-white">Welcome,<span class=" text-secondary"> {{currentUser.profile.name +" "+currentUser.profile.lastname || "User"}}</span></h1>
                <p class="lead">Stay up to date with your cours and institution.</p>
                <button class="btn btn-outline-secondary mr-2" [routerLink]="'/pages/profile/' + currentUser?.email">My Profile</button>
                <button class="btn btn-outline-secondary mr-2" *ngIf="currentUser.roles.includes('STUDENT')" (click)="openMyGradesModal()">My Grades</button>
            </div>
        </div>
    </div>

    <div class="row custom-row">
        <!-- Courses Section -->
        <div class="col-lg-8 mb-4 ">
            <div class="card bg-primary p-4 rounded">
            <h2 class="text-white">Your Courses</h2>
            <div *ngIf="loading" class="loadscreen mt-5">
                <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                <div class="loader-bubble loader-bubble-primary d-block"></div>
            </div>
            <div *ngIf="!loading" class="row">
                <div *ngIf="classrooms.length === 0" class="col-12 d-flex justify-content-center align-items-center" style="height: 200px;">
                    <h1 class="text-white text-center">
                        You have no cours.
                    </h1>
                </div>
                <div *ngFor="let classRoom of classrooms" class="col-md-6 mb-3">
                    <div class="card bg-secondary h-100">
                        <div class="card-body d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="card-title">{{ classRoom.name }}</h5>
                                <p class="card-text">Instructor: {{ classRoom.teacher || 'Not assigned' }}</p>
                                <p class="card-text">Credits: {{ classRoom.credit }}</p>

                                <div class="d-flex justify-content-start mt-3">
                                    <a [routerLink]="'/institution/classroom/' + classRoom.id" class="btn btn-outline-primary mr-2">
                                        Go to Course
                                    </a>
                                    <a *ngIf="currentUser.roles.includes('ADMIN') || currentUser.roles.includes('TEACHER')"
                                       (click)="openStudentsGradesModal(classRoom.group, classRoom.course)"
                                       class="btn btn-outline-primary mr-2">
                                        Check Grades
                                    </a>
                                </div>
                            </div>

                            <!-- Profile Image -->
                            <div class="user-info ms-3">
                                <img class="profile-picture rounded-circle avatar-lg mb-2"
                                     [src]="classRoom.imageSrc || 'assets/default-image.jpg'"
                                     alt="Course image">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <!-- Program & Group Information -->
        <div class="col-lg-4 mb-4 ">
            <div *ngIf="myProgram && myGroup" class="card mb-4 bg-primary rounded">
                <div class="card-body text-white">
                    <h5 class="card-title text-white">Program Information</h5>
                    <p class="card-text"><strong>Program:</strong> {{myProgram.name}}</p>
                    <p class="card-text"><strong>Description:</strong> {{myProgram.description}}</p>
                    <p class="card-text"><strong>Credits:</strong> {{myProgram.credits}}</p>
                    <p class="card-text"><strong>Duration:</strong> {{myProgram.duration}}</p>
                    <p class="card-text"><strong>Group:</strong> {{myGroup.name}}</p>
                    <button class="btn btn-outline-secondary mr-2" (click)="openViewStudentsModal(myGroup)">View Group Members</button>
                    <button class="btn btn-outline-secondary" *ngIf="myProgram.hasCalendar" (click)="downloadExcel()">Download Calendar</button>
                </div>
            </div>

            <!-- Institution Information -->
            <div *ngIf="myInstitution" class="card mb-4 bg-primary rounded">
                <div class="card-body text-white">
                    <h5 class="card-title text-white">Institution Information</h5>
                    <p class="card-text"><strong>Name:</strong> {{ myInstitution?.name }}</p>
                    <p class="card-text"><strong>Slogan:</strong> {{ myInstitution?.slogan }}</p>
                    <p class="card-text"><strong>Country:</strong> {{ myInstitution?.country }}</p>
                    <p class="card-text"><strong>Address:</strong> {{ myInstitution?.address }}</p>
                    <p class="card-text"><strong>Description:</strong> {{ myInstitution?.description }}</p>
                    <p class="card-text"><strong>Website:</strong> <a class="text-white" [href]="sanitizedWebsiteUrl" target="_blank"> {{ myInstitution?.website }}</a></p>
                    <button class="btn btn-outline-secondary" routerLink="/institution/{{myInstitution?.id}}" >View {{myInstitution?.name}}</button>
                </div>
            </div>
        </div>
          <div class="col-lg-12 mb-4">
              <div class="card bg-primary rounded">

                  <div *ngIf="loadingTimetable" class="loadscreen mt-5">
                      <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                      <div class="loader-bubble loader-bubble-primary d-block"></div>
                  </div>
                  <div *ngIf="!loadingTimetable" >
                    <div *ngIf="!timetable || timetable.groupTimetables === 0" class="text-center">
                        No timetable available.
                    </div>

                    <div *ngIf="timetable && timetable.groupTimetables" class="timetable-container">
                        <ng-container *ngFor="let groupKey of objectKeys(timetable.groupTimetables)">
                            <app-view-timetable [timeTableSlots]="timeTableSlots" [group]="getGroupObject(groupKey)"  [timetableWeek]="timetable.timetableWeek"></app-view-timetable>
                        </ng-container>
                    </div>
                    <div *ngIf="timetable && timetable.teacherTimetables" class="timetable-container">
                        <ng-container *ngFor="let teacherKey of objectKeys(timetable.teacherTimetables)">
                            <app-view-timetable [timeTableSlots]="timeTableSlots" [teacher]="getTeacherObject(teacherKey)" [timetableWeek]="timetable.timetableWeek"></app-view-timetable>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>