<div class="modal-header">
    <h5 class="modal-title">Add Program</h5>
    <button type="button" class="close" aria-label="Close" (click)="programAdded.emit()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="addProgramForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="credits">Credits</label>
            <input id="credits" formControlName="credits" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input id="duration" formControlName="duration"  class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addProgramForm.invalid">Add Program</button>
    </form>
</div>