.card {
    margin-top: 20px;
  }
 
  .container {
    margin-top: 150px; /* Adjust the value as needed */
  }
  .card-header {
    background-color: #390e70; /* Change as needed */
    color: white;
    font-weight: bold;
  }
  
  .card-body {
    min-height: 200px; /* Adjust height as needed */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
  }
  
  .card-body div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa; /* Change as needed */
    border: 1px solid #dee2e6; /* Change as needed */
    border-radius: 5px;
    cursor: grab;
  }
  
  .card-body div.cdk-drag-preview {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .card-body div.cdk-drag-placeholder {
    opacity: 0.5;
    border: 2px dashed #007bff; /* Change as needed */
  }
  .trophy-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .hugefont {
    font-size: 100px; /* Adjust this value to make the emoji larger */
  }
  .spinme {
    animation: rotate-center linear 8s 2; /* Time taken for animation and number of repetitions */
    display: inline-block;
  }
  
  @keyframes rotate-center {
    /* The rotate animation code */
    0% {
      /* Rotate from 0 to 360 degrees */
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .falling-paper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 30px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0.8;
    animation: fall 3s linear infinite;
  }
  
  @keyframes fall {
    0% {
      top: -30px;
      opacity: 1;
    }
    100% {
      top: 100vh;
      opacity: 0;
    }
 
  }