<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Add Project</div>
        <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="validationTextarea">Name of Project</label>
              <input type="text" class="form-control" id="validationTextarea" formControlName="name" placeholder="Enter name of project">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters long</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="Enter Description">
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
                <div *ngIf="f.description.errors.minlength">Description must be at least 10 characters long</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="createdBy">Created By</label>
              <input type="text" class="form-control" id="createdBy" formControlName="createdBy" placeholder="Enter the name of project Creator">
              <div *ngIf="submitted && f.createdBy.errors" class="invalid-feedback">
                <div *ngIf="f.createdBy.errors.required">Created By is required</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="difficulty">Difficulty</label>
              <select class="form-control" id="difficulty" formControlName="difficulty">
                <option *ngFor="let difficulty of difficultyValues" [value]="difficulty">{{ difficulty }}</option>
              </select>
              <div *ngIf="submitted && f.difficulty.errors" class="invalid-feedback">
                <div *ngIf="f.difficulty.errors.required">Difficulty is required</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="datedebut">Project Launch</label>
              <input type="date" class="form-control" id="datedebut" formControlName="datedebut">
              <div *ngIf="submitted && f.datedebut.errors" class="invalid-feedback">
                <div *ngIf="f.datedebut.errors.required">Project Launch Date is required</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="deadline">Project Deadline</label>
              <input type="date" class="form-control" id="deadline" formControlName="deadline">
              <div *ngIf="submitted && f.deadline.errors" class="invalid-feedback">
                <div *ngIf="f.deadline.errors.required">Project Deadline is required</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="number">Number</label>
              <input type="number" class="form-control" id="number" formControlName="number" placeholder="Enter number">
              <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                <div *ngIf="f.number.errors.required">Number is required</div>
                <div *ngIf="f.number.errors.min">Number must be greater than 0</div>
              </div>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="specialities">Requirements:</label>
              <select multiple size="5" class="form-control" formControlName="specialities">
                <option *ngFor="let speciality of specialities" [ngValue]="speciality">{{ speciality.name }}</option>
              </select>
              <div *ngIf="submitted && f.specialities.errors" class="invalid-feedback">
                <div *ngIf="f.specialities.errors.required">Requirements are required</div>
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <label for="taskName">Add Task</label>
              <input type="text" class="form-control mb-3" id="taskName" formControlName="taskName" placeholder="Enter Task Name">
              <button type="button" class="btn btn-primary" (click)="addTask()">Add Task</button>
              <div *ngFor="let task of tasks">
                <p>{{ task.name }}</p>
              </div>
            </div>

            <div class="col-md-12 mb-3 button-container">
              <button type="submit" class="btn btn-primary float-right">Submit</button>
              <button type="button" class="btn btn-secondary float-right" (click)="navigateToProjectsDashboard()">Go back to dashboard</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
