<div>
    <div class="breadcrumb">
      <h1>Ticket Types</h1>
      
      <ul>
        <button
        _ngcontent-hdd-c88=""
        type="button"
        class="btn btn-info btn-rounded m-1"
        [routerLink]="['/tickets/list']">
        Back to Tickets
      </button>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card o-hidden">
          <ngx-datatable
            style="height: calc(100vh - 270px); box-shadow: none"
            class="material fullscreen"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="60"
            [scrollbarV]="true"
            [scrollbarH]="true"
            [rows]="types$ | async">
            
            <ngx-datatable-column name="id" [maxWidth]="250">
              <ng-template ngx-datatable-header-template>
                ID
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="type" [width]="400">
              <ng-template ngx-datatable-header-template>
                Type
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.type}}
              </ng-template>
            </ngx-datatable-column>
  
           
            
            <!-- New Column for Button -->
            <ngx-datatable-column name="Update" [width]="100">
              <ng-template ngx-datatable-header-template>
                Update
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <button class="btn btn-primary btn-sm" (click)="update(row.id)">Update</button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Delete" [width]="100">
              <ng-template ngx-datatable-header-template>
                Delete
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <button class="btn btn-primary btn-sm" (click)="delete(row.id)">Delete</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  