<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<div class="container mt-4">
    <!-- Breadcrumbs -->
    <div *ngIf="currentInstitution" class="breadcrumb bg-white mb-4 p-3 rounded">
        <h1 class="mb-0">Update {{currentInstitution.name || "Institution"}}</h1>
    </div>

    <!-- Institution Form -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Institution Information</h4>
                    <form [formGroup]="updateInstitutionForm" (ngSubmit)="updateInstitution(currentInstitution.id)">
                        <div class="row">
                            <!-- Name -->
                            <div class="col-lg-6 mb-3">
                                <label for="firstNameEdit" class="form-label">Institution Name</label>
                                <input type="text" formControlName="name" class="form-control" id="firstNameEdit" placeholder="Enter institution's name">
                                <small *ngIf="shouldShowError('name', 'required')" class="text-danger">Name is required.</small>
                                <small *ngIf="shouldShowError('name', 'minlength')" class="text-danger">Name must be at least 3 characters long.</small>
                                <small *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">Name must be at most 40 characters long.</small>
                            </div>
                            <!-- Slogan -->
                            <div class="col-lg-6 mb-3">
                                <label for="sloganEdit" class="form-label">Slogan</label>
                                <input type="text" formControlName="slogan" class="form-control" id="sloganEdit" placeholder="Enter institution's slogan">
                                <small *ngIf="shouldShowError('slogan', 'required')" class="text-danger">Slogan is required.</small>
                                <small *ngIf="shouldShowError('slogan', 'minlength')" class="text-danger">Slogan must be at least 3 characters long.</small>
                                <small *ngIf="shouldShowError('slogan', 'maxlength')" class="text-danger">Slogan must be at most 50 characters long.</small>
                            </div>

                            <!-- Country -->
                            <div class="col-lg-6 mb-3">
                                <label for="countrySelectEdit" class="form-label">Country</label>
                                <select formControlName="country" class="form-control" id="countrySelectEdit">
                                    <option *ngFor="let country of countries" [value]="country.country">{{ country.country }}</option>
                                </select>
                                <small *ngIf="shouldShowError('country', 'required')" class="text-danger">Country is required.</small>
                            </div>

                            <!-- Address -->
                            <div class="col-lg-6 mb-3">
                                <label for="addressEdit" class="form-label">Address</label>
                                <input type="text" formControlName="address" class="form-control" id="addressEdit" placeholder="Enter institution's address">
                                <small *ngIf="shouldShowError('address', 'required')" class="text-danger">Address is required.</small>
                                <small *ngIf="shouldShowError('address', 'minlength')" class="text-danger">Address must be at least 10 characters long.</small>
                                <small *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">Address must be at most 100 characters long.</small>
                            </div>

                            <!-- Description -->
                            <div class="col-lg-12 mb-3">
                                <label for="descriptionEdit" class="form-label">Description</label>
                                <textarea formControlName="description" class="form-control" id="descriptionEdit" placeholder="Enter institution's description" rows="4"></textarea>
                                <small *ngIf="shouldShowError('description', 'required')" class="text-danger">Description is required.</small>
                                <small *ngIf="shouldShowError('description', 'minlength')" class="text-danger">Description must be at least 10 characters long.</small>
                                <small *ngIf="shouldShowError('description', 'maxlength')" class="text-danger">Description must be at most 500 characters long.</small>
                            </div>

                            <!-- Website -->
                            <div class="col-lg-6 mb-3">
                                <label for="websiteEdit" class="form-label">Website</label>
                                <input type="url" formControlName="website" class="form-control" id="websiteEdit" placeholder="Enter website URL">
                                <small *ngIf="shouldShowError('website', 'required')" class="text-danger">Website is required.</small>
                                <small *ngIf="shouldShowError('website', 'minlength')" class="text-danger">Website must be at least 5 characters long.</small>
                                <small *ngIf="shouldShowError('website', 'maxlength')" class="text-danger">Website must be at most 100 characters long.</small>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-lg-12 mt-4">
                                <button type="submit" class="btn btn-primary btn-block">Update Institution</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
</div>

        <!-- Logo Upload Section -->
        <div class="col-lg-6">
            <div class="card  mb-4">
                <div class="card-body">
                    <h4 class="card-title">Update institution's logo</h4>
                    <div *ngIf="selectedFileUrl" class="mb-3">
                        <img [src]="selectedFileUrl" alt="Selected Image" class="img-thumbnail" style="width: 150px; height: 150px;">
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="logoUpload" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png">
                        <button class="btn btn-primary" type="button" (click)="uploadLogo()">Upload Logo</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logo Upload Section -->

        
        <!-- Map Section -->
        <div class="col-lg-12">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title">Institution Location</h4>
                    <div id="map" class="mb-3" style="height: 400px;"></div>
                    <button type="button" class="btn btn-primary" (click)="saveLocation()">Save Location</button>
                </div>
            </div>
        </div>
    </div>
</div>
