<div class="modal-header">
  <h5 class="modal-title">Manage Timeslots for {{ teacher.name }} {{teacher.lastname}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="teacherTimeslotsUpdated()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="timeslotForm" (ngSubmit)="addTimeslot()">
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="dayOfWeek">Day of Week</label>
              <select id="dayOfWeek" formControlName="dayOfWeek" class="form-control">
                  <option *ngFor="let day of days" [value]="day">{{ day }}</option>
              </select>
          </div>
          <div class="form-group col-md-4">
              <label for="startTime">Start Time - End Time</label>
              <select id="startTime" formControlName="startEndTime" class="form-control">
                  <option *ngFor="let timeslot of timeslots" [ngValue]="timeslot">{{ timeslot.startTime }} - {{ timeslot.endTime }}</option>
              </select>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Add Timeslot</button>
  </form>

  <h4 class="mt-4">Current Timeslots</h4>
  <ul class="list-group">
      <li *ngFor="let timeslot of teacher.disponibilitySlots; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          {{ timeslot.dayOfWeek }}: {{ timeslot.startTime }} - {{ timeslot.endTime }}
          <button class="btn btn-danger btn-sm" (click)="removeTimeslot(i)">Remove</button>
      </li>
  </ul>
  <button class="btn btn-primary mt-3" (click)="updateTimeslots()">Update Timeslots</button>
</div>