<div *ngIf="!moduleResponse" class="loadscreen">
    <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
    <div class="loader-bubble loader-bubble-primary d-block"></div>
</div>
<div *ngIf="moduleResponse" class="">
    <div class="breadcrumb-container d-flex justify-content-between align-items-center">
        <h1 >{{moduleResponse.name}}'s courses</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/institution', moduleResponse.institutionID, 'programs',moduleResponse.programID,'modules']">Modules</a></li>
                <li class="breadcrumb-item"><a>{{moduleResponse.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Courses</li>
            </ol>
        </nav>
    </div>

    <div class="separator-breadcrumb border-top mb-3"></div>
    <div class="row justify-content-between">
        <div class="col-md-6 col-lg-4">
            <div class="input-group mb-3 ">
                <input id="keyword-users" placeholder="Search Courses" [formControl]="searchControl" class="form-control form-control-rounded" type="text">
                <span class="input-group-text position-absolute search-icon"><i class="i-Magnifi-Glass1"></i></span>
            </div>
        </div>
        <div class="col-md-2 mb-4  " style="height: 4vh;">
            <button (click)="openAddCourseModal()" class="btn btn-primary btn-rounded m-1 " ><i class="fa fa-add"></i> Add Course</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card o-hidden">
                <div *ngIf="loadingModules" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                        <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                    </div>
                </div>
                <div *ngIf="!loadingModules">
                    <ngx-datatable
                            style="height: calc(100vh - 270px); box-shadow: none"
                            class="material fullscreen"
                            [columnMode]="'force'"
                            [columns]="[
        { name: 'Name' },
        { name: 'Description'},
        { name: 'Skills',cellTemplate: skillsTemplate,width: 250},
        { name: 'Semester',cellTemplate: semesterTemplate},
        { name: 'Assessment',cellTemplate: assessments,width: 250},
        { name: 'Course Partitions',cellTemplate: modulePartitions,width: 250},
        { name: 'Score to pass'},
        { name: 'Duration'},
        { name: 'Credit' },
        { name: 'Finished',cellTemplate: finished },
        { name: 'Actions', prop: 'id', cellTemplate: deleteBtnTemplate, width: 250 }
    ]"
                            [headerHeight]="50"
                            [footerHeight]="0"
                            [rowHeight]="60"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [count]="totalItems"
                            [offset]="(currentPage - 1) * itemsPerPage"
                            [limit]="itemsPerPage"
                            [rows]="paginatedCourses.courses | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                    </ngx-datatable>
                    <ng-template #skillsTemplate let-row="row">
                        <div class="skill-container d-flex flex-wrap">
    <span *ngFor="let skill of row.skills"
          class="skill-badge badge badge-primary mb-2 mr-2"
          [attr.title]="skill">{{ skill }}</span>
                        </div>
                    </ng-template>

                    <ng-template #semesterTemplate let-row="row" let-value="value">
                        <span *ngIf="value === 'FIRST_SEMESTER'" class="badge badge-primary">First Semester</span>
                        <span *ngIf="value === 'SECOND_SEMESTER'" class="badge badge-secondary">Second Semester</span>
                        <span *ngIf="value === null || value === ''" class="badge badge-danger">No Semester set</span>
                    </ng-template>
                    <ng-template #assessments let-row="row" let-value="value">
                        <button class="btn btn-link" (click)="openManageAssessmentModal(row)">
                            <i class="fa fa-eye"></i> Show Assessment
                        </button>
                    </ng-template>
                    <ng-template #modulePartitions let-row="row" let-value="value">
                        <button class="btn btn-link" (click)="openViewCoursePartsModal(row)">
                            <i class="fa fa-eye"></i> Show Partitions
                        </button>
                    </ng-template>
                    <ng-template #finished let-row="row" let-value="value">
                        <p *ngIf="row?.isFinished"> Yes</p>
                        <p *ngIf="!row?.isFinished"> No</p>
                    </ng-template>
                    <ng-template #deleteBtnTemplate let-row="row" let-value="value">
                        <div class=" m-16">
                        <button class="btn btn-warning btn-rounded  mr-2" (click)="openEditCourseModal(row)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="btn btn-danger btn-rounded  mr-2" (click)="modalConfirmFunction(modalConfirmModuleDeletion, row)">
                            <i class="fa fa-trash-can"></i> Delete
                        </button>
                        </div>
                    </ng-template>
                </div>
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <ng-template #modalConfirmModuleDeletion let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-course-deletion">Course Deletion</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete the course <span class="text-primary">{{ currentCourse.name }}</span> from {{moduleResponse.name}}?</strong></p>
            <p>All information associated with this course will be permanently deleted from the program.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>
</div>