<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">Add Member By Email</div>
            <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="sujet">Email</label>
                        <input type="text" class="form-control form-control-rounded" id="members" formControlName="members" placeholder="Enter Member Email" required>
                    </div> 
                    <div class="row">
                        <!-- /.col -->
                       <div class="col-6">
                          <button type="submit" [disabled]="memberForm.invalid"  class="btn btn-primary btn-block">Add</button>
                        </div>
                        <div class="col-6">
                          <button (click)="onClose()" type="reset" class="btn btn-danger btn-block">Cancel</button>
                        </div>
                        <!-- /.col -->
                      </div>
                </div>
            </form>
        </div>
    </div>
  

  </div>
  