<div class="breadcrumb">
    <h1>Revision Session</h1>
    <ul>
        <li><a href="">Pages</a></li>
        <li>Participate</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/revisionnn.jpg')"></div>
   
    <div class="card-body">
        <ngb-tabset class="nav-center">

            
            <ngb-tab title="Pdf">
                <ng-template ngbTabContent>
                    <div *ngIf="files && files.length > 0" class="row">
                        <div class="col-md-6" *ngFor="let file of files">
                            <div class="card shadow-sm mb-4">
                                <img src="./assets/images/revision.png" alt="PDF image" class="card-img-top" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ file.fileName }}</h5>
                                 
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button (click)="openPdf(file)" class="btn btn-outline-secondary">View PDF</button>
                                        <button (click)="generateQuestions(file)" class="btn btn-primary">Generate </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="files.length === 0">
                        <p>No files uploaded yet.</p>
                    </div>
                </ng-template>
            </ngb-tab>
           
            <ngb-tab title=" generate Revision qizz">
                <ng-template ngbTabContent>
                    <h4>Generate a new quizz here  </h4>
                    
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-md-3" *ngFor="let quiz of quizzes; let i = index" 
                             [ngStyle]="{'border-right': (i < quizzes.length - 1) ? '1px solid #ccc' : 'none'}">
                          <div class="card-body text-center">
                            <img src="./assets/images/quiz.jpg" alt="Quiz Image" class="img-fluid">
                            <h5 class="text-primary">{{ quiz.title }}</h5>
                            <button class="btn btn-primary btn-rounded" (click)="QandA(quiz.id)">Begin Q/A</button>
                          </div>
                        </div>
                      </div>
                      
                      
                    <hr>
                   
                </ng-template>
            </ngb-tab>











            <ngb-tab title="Participants">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-profile-1 mb-4">

                                <div class="card-body text-center">
                                    <div class="avatar box-shadow-2 mb-3">
                                        <img src="assets/images/faces/16.jpg" alt="">
                                    </div>
                                    <h5 class="m-0">Jassica Hike</h5>
                                  
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.
                                    </p>
                                   
                                   
                                </div>
                               

                
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>



            
        </ngb-tabset>
    </div>
</div>