<!-- faq-list.component.html -->

<div class="container mt-4">
    <div>
      <div class="breadcrumb">
        <h1>FAQ :</h1>
      </div>
  
    <div *ngIf="faqs && faqs.length > 0">
      <ul class="list-group">
        <li *ngFor="let faq of faqs" class="list-group-item">
          <h5 class="mb-1">Question : {{ faq.question }}</h5>
          <p class="mb-1">Answer : {{ faq.answer }}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="faqs && faqs.length === 0">
      <p>No FAQs found.</p>
    </div>
  </div>
  