/* Add custom styles as needed */
.card-header {
    background-color: #f0f0f0;
  }
  
  .card-header button {
    text-align: left;
    width: 100%;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .accordion .card {
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .accordion .card-header {
    background-color: #ffffff;
  }
  
  .accordion .card-header:hover {
    background-color: #f0f0f0;
  }
  
  .accordion .collapse.show {
    display: block;
  }
  
  .btn-link {
    text-decoration: none;
    color: #007bff;
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }
  