<div class="modal-header">
    <h5 class="modal-title">Edit Class</h5>
    <button type="button" class="close" aria-label="Close" (click)="groupUpdated.emit()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="editGroupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="students" class="form-label">Students Emails</label>
            <tag-input id="students"
                       formControlName="students"
                       (onSelect)="onSelect($event)"
                       [modelAsStrings]="true"
                       secondaryPlaceholder="Enter students emails"
                       placeholder="Add student email"
                       [separatorKeyCodes]="[32, 188]"
                       [addOnPaste]="true"
                       [pasteSplitPattern]="pasteSplitPattern"
                       [validators]="[emailValidator]"
                       [onlyFromAutocomplete]="false">
            </tag-input>
        </div>
        <div class="form-group">
        <label for="programs">Programs</label>
        <select formControlName="program" class="form-control" id="programs" data-live-search="true">
            <option *ngFor="let program of availablePrograms" [value]="program.id">{{ program.name }}</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="editGroupForm.invalid">Edit Class</button>
    </form>
</div>