<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">Add Ticket</div>
            <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="sujet">Sujet</label>
                        <input type="text" class="form-control form-control-rounded" id="sujet" formControlName="sujet" placeholder="Enter ticket sujet" required>
                    </div>
  
                    <div class="col-md-6 form-group mb-3">
                        <label for="details">Details</label>
                        <input type="text" class="form-control form-control-rounded" id="details" formControlName="details" placeholder="Enter ticket details" required>
                    </div>
  
                    <div class="col-md-6 form-group mb-3">
                        <label for="type">Type</label>
                        <select class="form-control form-control-rounded" id="type" formControlName="type" required>
                            <option *ngFor="let t of types" [value]="t">{{ t }}</option>
                        </select>
                    </div>
  
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-rounded" type="submit"[disabled]="ticketForm.invalid">Add Ticket</button>
                        <button type="reset" class="btn btn-danger btn-rounded" (click)="middle()">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  
  </div>
  