<div class="container">
    <h2 class="mb-4">My Projects</h2>
    
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4" *ngFor="let project of projects">
        <div class="card card-ecommerce-3 o-hidden">
          <div class="d-flex">
            <div><img src="./assets/images/project.jpg" alt="" class="card-img-left"></div>
            <div class="flex-grow-1 p-4">
              <h5 class="m-0 font-weight-bold text-muted">{{ project.name }}</h5>
              <p class="m-0 text-small text-muted">By {{ project.createdBy }}</p>
              <p class="m-0">Difficulty: {{ project.difficulty }}</p>
              <p class="text-muted mt-3">Requirements: {{ project.specialities }}</p>
              <p class="text-muted mt-3">Description: {{ project.description }}</p>
              <div class="actions">
                <button type="button" class="btn btn-primary btn-rounded m-1" (click)="navigateToProjectDetails(project.id)">Consult</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  