<div class="card-body">
  <div class="d-flex mb-5">
    <span class="m-auto"></span>
    <button class="btn btn-outline-secondary mr-3" (click)="onCancel()">Cancel</button>
    <btn-loading btnclass="btn-primary" ng-reflect-btn-class="btn-primary">
      <button type="submit" class="btn btn-primary" (click)="onUpdateProject()">
        <span>Save</span>
      </button>
    </btn-loading>
  </div>

  <div *ngIf="project">
    <form (ngSubmit)="updateProject()" novalidate>
      <div class="row justify-content-between">
        <div class="col-md-6">
          <h4 class="font-weight-bold">Project info and Updates</h4>

          <div class="card-body">
            <div class="card-title mb-3"></div>
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="projectName">Name</label>
                <input type="text" id="projectName" [(ngModel)]="project.name" name="name" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="projectDescription">Description</label>
                <input type="text" id="projectDescription" [(ngModel)]="project.description" name="description" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="projectTasks">Deadline</label>
                <input type="text" id="projectTasks" [(ngModel)]="project.deadline" name="tasks" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="projectPhone">Datedebut</label>
                <input type="text" id="projectPhone" [(ngModel)]="project.datedebut" name="phone" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="projectCard">Affected to a group or not</label>
                <input type="text" id="projectCard" class="form-control" value="{{ project.hasGroupProject ? 'Has a group' : 'No group yet' }}">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="number">Number</label>
                <input type="text" id="number" [(ngModel)]="project.number" name="number" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="projectDate">Requirements</label>
                <input type="text" id="projectDate" [(ngModel)]="project.specialities" name="date" class="form-control">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label>Progress</label>
                <div class="progress">
                  <div class="progress-bar" role="progressbar"
                    [ngClass]="{
                      'bg-danger': calculateProgress(project) < 50,
                      'bg-warning': calculateProgress(project) >= 50 && calculateProgress(project) < 75,
                      'bg-primary': calculateProgress(project) >= 75 && calculateProgress(project) < 100,
                      'bg-success': calculateProgress(project) == 100
                    }"
                    [style.width.%]="calculateProgress(project)" aria-valuemin="0" aria-valuemax="100">
                    {{ calculateProgress(project) | number:'1.0-0' }}%
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <btn-loading btnclass="btn-primary" ng-reflect-btn-class="btn-primary">
                  <!-- Button to save project details will be here -->
                </btn-loading>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <div class="form-group mb-3">
            <div class="input-group">
              <div class="input-group-append"></div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-md-6">
        <h4 class="font-weight-bold" style="margin-bottom: 20px;">Final project reports and validation </h4>
        <h5 class="font-weight-bold" style="margin-bottom: 20px;">List of Tasks</h5>
         <!-- List of tasks -->
  <div>
    <ngb-alert *ngFor="let task of tasks" role="alert" class="alert alert-info alert-dismissible" style="display: flex; align-items: center;">
      <strong class="text-capitalize">{{ task.name }}</strong>
    </ngb-alert>
  </div>

        <div class="input-group" style="margin-bottom: 20px;">
          <input type="file" class="form-control" id="fileInput" (change)="onFileSelected($event)">
          <button class="btn btn-outline-secondary" type="button" (click)="uploadFile()">Upload</button>
        </div>
        <div *ngIf="files.length > 0" class="row">
          <div class="col-md-6" *ngFor="let file of files">
            <a href="javascript:void(0)" (click)="openPdf(file)" class="card custom-card text-white o-hidden mb-4">
              <img src="./assets/images/project.jpg" alt="Card image" class="card-img">
              <div class="card-img-overlay">
                <h5 class="card-title text-white">{{ file.fileName }}</h5>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="files.length === 0">
          <p>No files uploaded yet.</p>
        </div>
        
      </div>
      <div class="card-body">
        <div class="d-flex mb-5">
          <span class="m-auto"></span>
          
          <btn-loading btnclass="btn-primary" ng-reflect-btn-class="btn-primary">
            <button class="btn btn-outline-secondary mr-3" (click)="onCancel()">Cancel</button>
            <button 
            type="submit" 
            class="btn btn-primary" 
            (click)="validateProject()">
            <span>Do you Validate the project Tasks</span>
          </button>
          </btn-loading>
        </div>
      