<!-- Group Timetable View -->
<ng-container *ngIf="group && timeTableSlots">
  <div class="timetable-container">
    <h1 class="text-center text-secondary">{{ groupKey }} Timetable</h1>
    <h4 class="text-center text-secondary">{{ timetableWeek | date:'longDate' }}</h4>

    <div class="timetable text-white">
      <!-- Weekday Names -->
      <div class="week-names">
        <div *ngFor="let day of daysOfWeek">{{ day }}</div>
      </div>

      <!-- Time Intervals -->
      <div class="time-interval">
        <div *ngFor="let slot of timeTableSlots">
          {{ slot.startTime }} - {{ slot.endTime }}
        </div>
      </div>

      <!-- Timetable Content -->
      <div class="content" [ngStyle]="{'grid-template-rows': getGridTemplateRows()}">
        <ng-container *ngFor="let time of timeTableSlots">
          <ng-container *ngFor="let day of daysOfWeek">
            <div *ngIf="hasTimeslot(day, time)">
              <div [ngClass]="getTimeslotClass(day, time)">
                <h3 style="color: #FFC600;" class="text-center mt-2 course-name">
                  {{ getTimeslotInfo(day, time).module }}
                </h3>
                <p style="color: white;" class="text-center mt-1 teacher-name">
                  {{ getTimeslotInfo(day, time).teacher | slice:0:12 }}.
                </p>
           <p style="color: white;" class="text-center mt-1 room-name">
  <i class="fas fa-map-marker-alt"></i> <!-- Location icon -->
  {{ getTimeslotInfo(day, time).room }}
</p>


              </div>
            </div>
            <div *ngIf="!hasTimeslot(day, time)"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<div class="timetable-space"></div> <!-- Space between timetables -->

<!-- Teacher Timetable View -->
<ng-container *ngIf="teacher && timeTableSlots">
  <div class="timetable-container">
    <h1 class="text-center text-secondary">{{ teacherKey }} Timetable</h1>
    <h4 class="text-center text-secondary">{{ timetableWeek | date:'longDate' }}</h4>

    <div class="timetable text-white">
      <!-- Weekday Names -->
      <div class="week-names">
        <div *ngFor="let day of daysOfWeek">{{ day }}</div>
      </div>

      <!-- Time Intervals -->
      <div class="time-interval">
        <div *ngFor="let slot of timeTableSlots">
          {{ slot.startTime }} - {{ slot.endTime }}
        </div>
      </div>

      <!-- Timetable Content -->
      <div class="content" [ngStyle]="{'grid-template-rows': getGridTemplateRows()}">
        <ng-container *ngFor="let time of timeTableSlots">
          <ng-container *ngFor="let day of daysOfWeek">
            <div *ngIf="hasTimeslotTeacher(day, time)">
              <div [ngClass]="getTimeslotClassTeacher(day, time)">
                <h3 style="color: #FFC600;" class="text-center mt-2 course-name">
                  {{ getTimeslotInfoTeacher(day, time).module }}
                </h3>
                <p style="color: white;" class="text-center mt-1 group-name">
                  {{ getTimeslotInfoTeacher(day, time).group }}
                </p>
                <p style="color: white;" class="text-center mt-1 room-name">
                   <i class="fas fa-map-marker-alt"></i> 
                   {{ getTimeslotInfoTeacher(day, time).room }}
                </p>
              </div>
            </div>
            <div *ngIf="!hasTimeslotTeacher(day, time)"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
