    <ng-template [ngIf]="showInstitutionsTable" >
        <div class="breadcrumb-container d-flex justify-content-between align-items-center">
        <h1 class="page-title">Institutions list</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Institutions List</li>
            </ol>
        </nav>
    </div>

    <div class="separator-breadcrumb border-top mb-3"></div>
    <div class="row  mr-4 justify-content-between">
        <div class="col-md-6 col-lg-4">
            <div class="input-group mb-3 ">
                <input id="keyword-users" placeholder="Search Institutions" [formControl]="searchControl" class="form-control form-control-rounded pr-5" type="text">
                <span class="input-group-text position-absolute search-icon"><i class="i-Magnifi-Glass1"></i></span>
            </div>
        </div>
        <div class="col-mb-3" >
            <button (click)="addInstitutionModel(add)" class="btn  btn-primary btn-rounded  m-1 " ><i class="fa fa-add"></i> Add</button>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12">
            <div class="card o-hidden">
                <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                        <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <ngx-datatable
                            style="height: calc(100vh - 270px); box-shadow: none"
                            class="material fullscreen"
                            [columnMode]="'force'"
                            [columns]="[{ name: 'Name' }, { name: 'Slogan' }, { name: 'Country' }, { name: 'Address' }, { name: 'Description' }, { name: 'Website' },
                                    { name: 'Actions', prop: 'id', cellTemplate: deleteBtnTemplate, width: 270 }]"
                            [headerHeight]="50"
                            [footerHeight]="0"
                            [rowHeight]="80"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [rows]="institutions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                        <ng-template #deleteBtnTemplate let-row="row" let-value="value">
                            <button class=" btn btn-warning btn-rounded m-1" (click)="editInstitutionModel(edit,row)"><i class="i-Pen-2"></i> Edit</button>
                            <button class=" btn btn-success btn-rounded m-1" (click)="toggleInstitutionUsersTable(row)"><i class="i-Find-User"></i> Users</button>
                            <button class=" btn btn-danger btn-rounded m-1" (click)="deleteInstitutionModal(modalConfirm,row)"><i class="i-Remove"></i> Delete</button>
                        </ng-template>
                    </ngx-datatable>
                </div>
                <div class="pagination-container d-flex justify-content-center mt-4">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    <ng-template #edit let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title-Edit">Edit Institution</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addInstitutionForm" (ngSubmit)="updateInstitution(currentInstitution.id)">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="firstName">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="firstNameEdit" placeholder="Enter institution's name">
                        <div *ngIf="shouldShowError('name', 'required')" class="text-danger">
                            Name is required.
                        </div>
                        <div *ngIf="shouldShowError('name', 'minlength')" class="text-danger">
                            Name must be at least 3 characters long.
                        </div>
                        <div *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">
                            Name must be at most 40 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="lastName">Slogan</label>
                        <input type="text" formControlName="slogan" class="form-control" id="lastNameEdit" placeholder="Enter institution's slogan">
                        <div *ngIf="shouldShowError('slogan', 'required')" class="text-danger">
                            Slogan is required.
                        </div>
                        <div *ngIf="shouldShowError('slogan', 'minlength')" class="text-danger">
                            Slogan must be at least 3 characters long.
                        </div>
                        <div *ngIf="shouldShowError('slogan', 'maxlength')" class="text-danger">
                            Slogan must be at most 50 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="countrySelect">Country</label>
                        <select formControlName="country" class="form-control form-control" id="countrySelectEdit">
                            <option *ngFor="let country of countries" [value]="country.country">{{ country.country }}</option>
                        </select>
                        <div *ngIf="shouldShowError('country', 'required')" class="text-danger">
                            Country is required.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="addressEdit" placeholder="Enter institution's address">
                        <div *ngIf="shouldShowError('address', 'required')" class="text-danger">
                            Address is required.
                        </div>
                        <div *ngIf="shouldShowError('address', 'minlength')" class="text-danger">
                            Address must be at least 10 characters long.
                        </div>
                        <div *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">
                            Address must be at most 100 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="description">Description</label>
                        <input type="text" formControlName="description" class="form-control" id="descriptionEdit" placeholder="Enter institution's description">
                        <div *ngIf="shouldShowError('description', 'required')" class="text-danger">
                            Description is required.
                        </div>
                        <div *ngIf="shouldShowError('description', 'minlength')" class="text-danger">
                            Description must be at least 10 characters long.
                        </div>
                        <div *ngIf="shouldShowError('description', 'maxlength')" class="text-danger">
                            Description must be at most 500 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="credit">Website</label>
                        <input formControlName="website" class="form-control" id="creditEdit" placeholder="Web address">
                        <div *ngIf="shouldShowError('website', 'required')" class="text-danger">
                            Website is required.
                        </div>
                        <div *ngIf="shouldShowError('website', 'minlength')" class="text-danger">
                            Website must be at least 5 characters long.
                        </div>
                        <div *ngIf="shouldShowError('website', 'maxlength')" class="text-danger">
                            Website must be at most 100 characters long.
                        </div>
                    </div>

                    <div class="col-md-12">
                        <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Submit</btn-loading>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #addUser let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title-user">Invite user</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addUserForm" (ngSubmit)="inviteUser()">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="studentsEmails" class="form-label">Students Emails</label>
                        <tag-input id="studentsEmails"
                                   formControlName="studentsEmails"
                                   (onSelect)="onSelect($event)"
                                   [modelAsStrings]="true"
                                   secondaryPlaceholder="Enter students emails"
                                   placeholder="Add student email"
                                   [separatorKeyCodes]="[32, 188]"
                                   [addOnPaste]="true"
                                   [pasteSplitPattern]="pasteSplitPattern"
                                   [validators]="[emailValidator]"
                                   [onlyFromAutocomplete]="false">
                        </tag-input>
                        <div class="invalid-feedback" *ngIf="shouldShowError('studentsEmails', 'required')">Students Emails are required</div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="role">Role</label>
                        <select formControlName="role" class="form-control form-control" id="role">
                            <option *ngFor="let role of roles" [value]="role">{{ role}}</option>
                        </select>
                        <div *ngIf="shouldShowError('role', 'required')" class="text-danger">
                            Role is required.
                        </div>
                    </div>
                    <div *ngIf="addUserForm.controls.role.value=='Teacher'" class="col-md-6 form-group mb-3">
                        <label for="skills" class="form-label">Skills</label>
                        <tag-input id="skills"
                                   formControlName="skills"
                                   [modelAsStrings]="true"
                                   secondaryPlaceholder="Enter skills"
                                   placeholder="Add skill"
                                   [separatorKeyCodes]="[188]"
                                   [onlyFromAutocomplete]="false">
                        </tag-input>
                        <div class="invalid-feedback" *ngIf="shouldShowError('studentsEmails', 'required')">Students Emails are required</div>
                    </div>
                    <div class="col-md-12">
                        <btn-loading btnClass="btn-primary btn-rounded" [loading]="loadingUsers">Invite</btn-loading>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #add let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Institution</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addInstitutionForm" (ngSubmit)="addInstitution()">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="firstName">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="firstName" placeholder="Enter institution's name">
                        <div *ngIf="shouldShowError('name', 'required')" class="text-danger">
                            Name is required.
                        </div>
                        <div *ngIf="shouldShowError('name', 'minlength')" class="text-danger">
                            Name must be at least 3 characters long.
                        </div>
                        <div *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">
                            Name must be at most 40 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="lastName">Slogan</label>
                        <input type="text" formControlName="slogan" class="form-control" id="lastName" placeholder="Enter institution's slogan">
                        <div *ngIf="shouldShowError('slogan', 'required')" class="text-danger">
                            Slogan is required.
                        </div>
                        <div *ngIf="shouldShowError('slogan', 'minlength')" class="text-danger">
                            Slogan must be at least 3 characters long.
                        </div>
                        <div *ngIf="shouldShowError('slogan', 'maxlength')" class="text-danger">
                            Slogan must be at most 50 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="countrySelect">Country</label>
                        <select formControlName="country" class="form-control form-control" id="countrySelect">
                            <option *ngFor="let country of countries" [value]="country.country">{{ country.country }}</option>
                        </select>
                        <div *ngIf="shouldShowError('country', 'required')" class="text-danger">
                            Country is required.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="address" placeholder="Enter institution's address">
                        <div *ngIf="shouldShowError('address', 'required')" class="text-danger">
                            Address is required.
                        </div>
                        <div *ngIf="shouldShowError('address', 'minlength')" class="text-danger">
                            Address must be at least 10 characters long.
                        </div>
                        <div *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">
                            Address must be at most 100 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="description">Description</label>
                        <input type="text" formControlName="description" class="form-control" id="description" placeholder="Enter institution's description">
                        <div *ngIf="shouldShowError('description', 'required')" class="text-danger">
                            Description is required.
                        </div>
                        <div *ngIf="shouldShowError('description', 'minlength')" class="text-danger">
                            Description must be at least 10 characters long.
                        </div>
                        <div *ngIf="shouldShowError('description', 'maxlength')" class="text-danger">
                            Description must be at most 500 characters long.
                        </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label for="credit">Website</label>
                        <input formControlName="website" class="form-control" id="credit" placeholder="Web address">
                        <div *ngIf="shouldShowError('website', 'required')" class="text-danger">
                            Website is required.
                        </div>
                        <div *ngIf="shouldShowError('website', 'minlength')" class="text-danger">
                            Website must be at least 5 characters long.
                        </div>
                        <div *ngIf="shouldShowError('website', 'maxlength')" class="text-danger">
                            Website must be at most 100 characters long.
                        </div>
                    </div>

                    <div class="col-md-12">
                        <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Submit</btn-loading>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #modalConfirm let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Institution deletion</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete <span class="text-primary">{{ currentInstitution.name }}</span> institution?</strong></p>
            <p>All information associated to this institution will be permanently deleted.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>
    <ng-template [ngIf]="showInstitutionUsersTable" >
        <div class="breadcrumb-container d-flex justify-content-between align-items-center">
            <h1 class="page-title">{{currentInstitution.name}}'s users</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item btn btn-link" (click)="toggleInstitutionUsersTable(null)"><a>{{ currentInstitution.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users List</li>
                </ol>
            </nav>
        </div>

        <div class="separator-breadcrumb border-top mb-3"></div>
            <div class="row mr-4 justify-content-between">
                <div class="col-md-6 col-lg-4">
                    <div class="input-group mb-3 position-relative">
                        <input id="keyword-users" placeholder="Search Users" [formControl]="searchControl" class="form-control form-control-rounded pr-5" type="text">
                        <span class="input-group-text position-absolute search-icon"><i class="i-Magnifi-Glass1"></i></span>
                    </div>
                </div>
                <div class="col-md-2 " style="height: 4vh;">
                    <button (click)="addUserModel(addUser,currentInstitution)" class="btn btn-primary btn-rounded m-1 " ><i class="fa fa-add"></i> Invite user</button>
                </div>
            </div>
        <div class="row"  >
                <div class="col-md-12">
                    <div class="card o-hidden">

                        <div *ngIf="loadingUsers" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                                <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                            </div>
                        </div>
                        <div *ngIf="!loadingUsers">
                            <ngx-datatable
                                    style="height: calc(100vh - 270px); box-shadow: none"
                                    class="material fullscreen"
                                    [columnMode]="'force'"
                                    [columns]="[{ name: 'Email' }, { name: 'Name' }, { name: 'Lastname' }, { name: 'Roles', cellTemplate:roles , width: 200 }, { name: 'Country' }, { name: 'Gender' },
                                    { name: 'Edit', prop: 'id', cellTemplate: editBtnTemplate, width: 250 },{ name: 'Actions', prop: 'id', cellTemplate: deleteBtnTemplate, width: 250 }]"
                                    [headerHeight]="50"
                                    [footerHeight]="0"
                                    [rowHeight]="60"
                                    [scrollbarV]="true"
                                    [scrollbarH]="true"
                                    [count]="totalItemsUsers"
                                    [offset]="(currentPageUsers - 1) * itemsPerPageUsers"
                                    [limit]="itemsPerPageUsers"
                                    [rows]="users | paginate: { itemsPerPage: itemsPerPageUsers, currentPage: currentPageUsers, totalItems: totalItemsUsers }">
                                <ng-template #roles let-row="row" let-value="value">
                                    <div class="role-tags">
                                        <div *ngFor="let role of row.roles">
                                            <app-role [role]="role"></app-role>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #editBtnTemplate let-row="row" let-value="value">
                                    <form class="form-inline" (ngSubmit)="changeUserRole(row)">
                                        <div class="form-group mr-2">
                                            <select [(ngModel)]="selectedRole" class="form-control" name="role">
                                                <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-warning" type="submit"><i class="fas fa-user-edit"></i></button>
                                    </form>
                                </ng-template>
                                <ng-template #deleteBtnTemplate let-row="row" let-value="value">
                                    <button class=" btn btn-danger btn-rounded  m-1" (click)="modalConfirmUserFunction(modalConfirmUser,row)"><i class="i-Remove"></i> Remove</button>
                                </ng-template>
                            </ngx-datatable>
                        </div>
                        <pagination-controls (pageChange)="currentPageUsers = $event"></pagination-controls>
                    </div>
                </div>
            </div>
    </ng-template>
    <ng-template #modalConfirmUser let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title-user">User removal</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to remove <span class="text-primary">{{ currentUser.name }}</span> from {{currentInstitution.name}}?</strong></p>
            <p>All information associated to this user will be permanently deleted from the institution.
                <span class="text-danger">This operation cannot be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>