<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb">
                <h1>Project dashboard</h1>
            </div>
        </div>

        <div class="col-12 mb-3 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="navigateToAddProject()">Create New Project</button>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Project Table</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th>Progress</th>
                                    <th>Description</th>
                                    <th>Difficulty</th>
                                    <th>Group Assignement</th>
                                    <th style="width: 40px">Project Validation</th>
                                    <th>Status of project</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of projects; let i = index">
                                    <td>{{ i + 1 }}.</td>
                                    <td>{{ project.name }}</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar" [ngClass]="{
                                                  'bg-danger': calculateProgress(project) < 50,
                                                  'bg-warning': calculateProgress(project) >= 50 && calculateProgress(project) < 75,
                                                  'bg-primary': calculateProgress(project) >= 75 && calculateProgress(project) < 100,
                                                  'bg-success': calculateProgress(project) == 100
                                                }" role="progressbar" [style.width.%]="calculateProgress(project)" aria-valuemin="0" aria-valuemax="100">{{ calculateProgress(project) | number:'1.0-0' }}%</div>
                                        </div>
                                    </td>
                                    <td>{{ project.description }}</td>
                                    <td>{{ project.difficulty }}</td>
                                    <td>{{ project.hasGroupProject ? 'Has a group' : 'No group yet' }}</td>
                                    <td>{{ project.validate }}</td>
                                    <td>{{ getProjectStatus(project) }}</td>
                                    <td class="d-flex justify-content-between">
                                        <button 
                                          class="btn btn-primary btn-rounded m-1" 
                                          (click)="navigateToView(project.id)" 
                                          [disabled]="isProjectFinished(project)">
                                          View
                                        </button>
                                        <button  
                                          type="submit" 
                                          class="btn btn-secondary btn-rounded m-1"
                                           [disabled]="isProjectFinished(project)"
                                            (click)="assignStudentsToGroup(project.id)">
                                          <span>Generate a group</span>
                                        </button>

                                        <button 
                                          class="btn btn-danger btn-rounded m-1" 
                                          (click)="openDeleteModal(project)">
                                          Delete
                                        </button>
                                      </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
