<div class="breadcrumb">
	<h1>Activities Dashboard</h1>
  </div>
  <div class="separator-breadcrumb border-top"></div>
  
  <div class="row mb-5">
	<div class="col-md-4 mb-5">
	  <span class="text-28">$20038</span>
	  <p class="text-small text-muted m-0">Activities in current month</p>
	  <div echarts [options]="chartLineSmall1" [autoResize]="true" style="height: 65px;"></div>
	  <div class="d-flex justify-content-between mt-4">
		<div class="flex-grow-1">
		  <span class="text-small">Pages / Visit</span>
		  <h5 class="m-0 font-weight-bold text-muted">2065</h5>
		</div>
		<div class="flex-grow-1">
		  <span class="text-small">New user</span>
		  <h5 class="m-0 font-weight-bold text-muted">465</h5>
		</div>
		<div class="flex-grow-1">
		  <span class="text-small">Last week</span>
		  <h5 class="m-0 font-weight-bold text-muted">23456</h5>
		</div>
	  </div>
	</div>
	<div class="col-md-4 mb-5">
	  <span class="text-28">$7038</span>
	  <p class="text-small text-muted m-0">Activities in current week</p>
	  <div echarts [options]="chartLineSmall1" [autoResize]="true" style="height: 65px;"></div>
	  <div class="d-flex justify-content-between mt-4">
		<div class="flex-grow-1">
		  <span class="text-small">Pages / Visit</span>
		  <h5 class="m-0 font-weight-bold text-muted">2065</h5>
		</div>
		<div class="flex-grow-1">
		  <span class="text-small">New user</span>
		  <h5 class="m-0 font-weight-bold text-muted">465</h5>
		</div>
		<div class="flex-grow-1">
		  <span class="text-small">Last week</span>
		  <h5 class="m-0 font-weight-bold text-muted">23456</h5>
		</div>
	  </div>
	</div>
  
	<div class="col-md-4">
	  <div class="d-flex justify-content-between mb-2">
		<div class="flex-grow-1">
		  <p class="text-small text-muted m-0">Finished Activities </p>
		  <p class="text-24 mb-3"><i class="i-Arrow-Up-in-Circle text-success"></i> {{ finishedActivitiesCount }}</p>
		</div>
		<div class="flex-grow-1">
			<p class="text-small text-muted m-0">Canceled Activities</p>
			<p class="text-24 mb-3"><i class="i-Arrow-Down-in-Circle text-danger"></i> {{ canceledActivitiesCount }}</p>
		  </div>
	  </div>
	  <div class="d-flex justify-content-between border-bottom p-2">
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>2070</strong> Activities</p>
		</div>
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>100</strong> Expense</p>
		</div>
	  </div>
	  <div class="d-flex justify-content-between border-bottom p-2">
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>4000</strong> Activities</p>
		</div>
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>2000</strong> Expense</p>
		</div>
	  </div>
	  <div class="d-flex justify-content-between p-2">
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>3070</strong> Activities</p>
		</div>
		<div class="flex-grow-1">
		  <p class="text-12 text-muted m-0"><strong>1770</strong> Expense</p>
		</div>
	  </div>
	</div>
  
	
  </div> 
  
<div class="row">
	<div class="col-lg-4 col-sm-12">
	  <div class="card mb-4">
		<div class="card-body">
		  <div class="card-title">Activity Category</div>
		  <div
			echarts
			[options]="categoryChartPie"
			[autoResize]="true"
			style="height: 300px"
		  ></div>
		</div>
	  </div>
	</div>



	<div class="col-lg-4 col-sm-12">
	  <div class="card mb-4">
		<div class="card-body">
		  <div class="card-title">Activity status</div>
		  <div
			echarts
			[options]="statusChartPie"
			[autoResize]="true"
			style="height: 300px"
		  ></div>
		</div>
	  </div>
	</div>


  </div>
 <!-- Form for adding a new activity-->
<div class="row">
	<div class="col-md-12">
	  <form [formGroup]="activityForm" (ngSubmit)="addActivity()">
		<div class="form-row">
		  <div class="form-group col-md-4">
			<label for="name">Activity Name</label>
			<input type="text" id="name" formControlName="name" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="description">Description</label>
			<input type="text" id="description" formControlName="description" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="category">Category</label>
			<input type="text" id="category" formControlName="category" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="date">Date</label>
			<input type="date" id="date" formControlName="date" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="time">Time</label>
			<input type="time" id="time" formControlName="time" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="location">Location</label>
			<input type="text" id="location" formControlName="location" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="status">Status</label>
			<select id="status" formControlName="status" class="form-control" required>
			  <option value="PLANIFIEE">PLANIFIEE</option>
			  <option value="TERMINEE">TERMINEE</option>
			  <option value="ANNULEE">ANNULEE</option>
			  <option value="EN_COURS">E cours</option>

			</select>
		  </div>
		</div>
		<button type="submit" class="btn btn-primary">Add Activity</button>
	  </form>
	</div>
  </div>
  <!--
  <div class="row">
	<div class="col-md-12">
	  <form [formGroup]="updateForm" (ngSubmit)="updateActivity()">
		<div class="form-row">
		  <div class="form-group col-md-4">
			<label for="name">Activity Name</label>
			<input type="text" id="name" formControlName="name" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="description">Description</label>
			<input type="text" id="description" formControlName="description" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="category">Category</label>
			<input type="text" id="category" formControlName="category" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="date">Date</label>
			<input type="date" id="date" formControlName="date" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="time">Time</label>
			<input type="time" id="time" formControlName="time" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="location">Location</label>
			<input type="text" id="location" formControlName="location" class="form-control" required>
		  </div>
		  <div class="form-group col-md-4">
			<label for="status">Status</label>
			<select id="status" formControlName="status" class="form-control" required>
			  <option value="PLANIFIEE">PLANIFIEE</option>
			  <option value="TERMINEE">TERMINEE</option>
			  <option value="ANNULEE">ANNULEE</option>
			  <option value="EN_COURS">EN COURS</option>
			</select>
		  </div>
		</div>
		<button type="submit" class="btn btn-primary">Update Activity</button>
	  </form>
	</div>
  </div>
  -->
<!-- Activities Table -->
<div class="row">
	<div class="col-md-12">
	  <div class="card o-hidden mb-4">
		<ngx-datatable
		  style="height: calc(100vh - 270px); box-shadow: none"
		  class="material fullscreen"
		  [columnMode]="'force'"
		  [headerHeight]="50"
		  [footerHeight]="50"
		  [rowHeight]="60"
		  [scrollbarV]="true"
		  [limit]="10"
		  [rows]="activities"
		  [rowClass]="getRowClass">
		  <ngx-datatable-column name="photo" [maxWidth]="100">
			<ng-template ngx-datatable-header-template>
			  Thumbnail
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			  <img height="32px" width="32px" style="border-radius: 4px" [src]="value" alt="">
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="name">
			<ng-template ngx-datatable-header-template>
			  Activity name
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="category">
			<ng-template ngx-datatable-header-template>
			  Category
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="status">
			<ng-template ngx-datatable-header-template>
			  Status
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			  <span [ngClass]="{
				'status-planifiee': value === 'PLANIFIEE',
				'status-en-cours': value === 'EN_COURS',
				'status-terminee': value === 'TERMINEE',
				'status-annulee': value === 'ANNULEE'
			  }">
				{{ value }}
			  </span>
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="date">
			<ng-template ngx-datatable-header-template>
			  Date
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="time">
			<ng-template ngx-datatable-header-template>
			  Time
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="location">
			<ng-template ngx-datatable-header-template>
			  Location
			</ng-template>
		  </ngx-datatable-column>
		  <ngx-datatable-column name="description" [width]="400">
			<ng-template ngx-datatable-header-template>
			  Description
			</ng-template>
			<ng-template ngx-datatable-cell-template let-value="value">
			  <div class="description-cell">{{ value }}</div>
			</ng-template>
		  </ngx-datatable-column>
  
		  <ngx-datatable-column name="actions" [maxWidth]="200">
			<ng-template ngx-datatable-header-template>
			  Actions
			</ng-template>
			<ng-template ngx-datatable-cell-template let-row="row">
			  <button (click)="update(row)" class="btn btn-primary btn-sm">Update</button>
			  <button (click)="delete(row)" class="btn btn-danger btn-sm">Delete</button>
			</ng-template>
		  </ngx-datatable-column>
		</ngx-datatable>
	  </div>
	</div>
  </div>