<div class="modal-header">
    <h5 class="modal-title">Add Course</h5>
    <button type="button" class="close" aria-label="Close" (click)="courseAdded.emit()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="skills" class="form-label">Skills</label>
            <tag-input id="skills"
                       formControlName="skills"
                       [modelAsStrings]="true"
                       secondaryPlaceholder="Enter skills"
                       placeholder="Add skill"
                       [separatorKeyCodes]="[188]"
                       [onlyFromAutocomplete]="false">
            </tag-input>
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input id="duration" formControlName="duration"  class="form-control" />
        </div>
        <div class="form-group">
            <label for="credit">Credit</label>
            <input id="credit" formControlName="credit" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="score">Score to pass</label>
            <input id="score" formControlName="scoreToPass" type="number" class="form-control" />
        </div>
        <div *ngIf="institution.secondSemesterStart&&institution.secondSemesterStart" class="form-group">
            <label for="semester">Semester</label>
            <select id="semester" formControlName="semester" class="form-control">
                <option value="FIRST_SEMESTER">First Semester</option>
                <option value="SECOND_SEMESTER">Second Semester</option>
            </select>
        </div>
        <div formArrayName="moduleParts" *ngFor="let part of courseParts.controls; let i = index" class="form-group">
            <div [formGroupName]="i">
                <label for="partName">Course Part Name</label>
                <input id="partName" formControlName="name" class="form-control" placeholder="e.g., TP" />
                <label for="partValue">Hours</label>
                <input id="partValue" formControlName="value" type="number" class="form-control" placeholder="e.g., 5" />
                <button type="button" class="btn btn-danger mt-2" (click)="removeCoursePart(i)">Remove</button>
            </div>
        </div>
        <button type="button" class="btn btn-secondary mr-2" (click)="addCoursePart()">Add Course Part</button>
        <button type="submit" class="btn btn-primary" [disabled]="addCourseForm.invalid">Add Course</button>
    </form>
</div>